FLASK_APP=flasky.py
FLASK_DEBUG=1

SECRET_KEY=your-secret-key-here

MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-app-password
FLASKY_ADMIN=admin@example.com

DATABASE_URL=mysql+pymysql://username:password@host:port/dbname